{%extends 'Common/base.html' %}
    {% block content %}
        <div class="containe">
            <img class="img" src="http://2.bp.blogspot.com/-3NmrvZWsIsI/UYHJZ1qsevI/AAAAAAAAt9Q/S83pTkMWD-k/s1600/Health+HD+Wallpaper+(1).jpeg" alt="Food"/>
            <div class="conten">
                <h1>PersonalHealthOrganizer</h1>
                <h4>Twój zdrowotny organizer</h4>
            </div>
        </div>

        <div class="about-container ">
            {% for cont in contents %}
                <h1>{{ cont.title }}</h1>
                <br>
                <p>{{ cont.content }}</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}
