{%extends 'Common/base.html' %}
    {% block content %}
        <div class="containe">
            <img class="img" src="http://2.bp.blogspot.com/-3NmrvZWsIsI/UYHJZ1qsevI/AAAAAAAAt9Q/S83pTkMWD-k/s1600/Health+HD+Wallpaper+(1).jpeg" alt="Food"/>
            <div class="conten">
                <h1>PersonalHealthOrganizer</h1>
                <h4>Twój zdrowotny organizer</h4>
            </div>
        </div>

        <div class="container">
            {% for const in contents %}

                {% if const.article_type in header %}
                    <div class="page-header">
                        <h1>{{ const.title }}<small>{{ const.content }}</small></h1>
                    </div>
                {% else %}
                    <div class="about-container ">
                            <h1>{{ const.title }}</h1>
                            <br>
                            <p>{{ const.content }}</p>
                    </div>
                {% endif %}




            {% endfor %}
        </div>

{% endblock %}
