.jumbotron {
    height: 400px;
    font-size: 20px;
    color: azure;
}

.first-record {
    background: #24304D;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    height: 200px;
}

.second-record {
    background: #1F6E5D;
    margin-top: -30px;
    height: 1100px;

}

.second-record img {
    width:60%;
    height: 250px;
    border-radius: 40px;
    margin:60px;
    margin-top: 60px;
    margin-bottom: 200px;
}

.second-record h1 {
    padding-top: 50px;
    padding-bottom: 100px;
}

.third-record {
    margin-top: -30px;
    background: #BFB599;
    height: 1000px;
}

.third-record h1 {
    margin-top: 100px;
    font-size: 64px !important;
    margin-bottom: 100px;
}

.third-record li {
    font-size:30px;
    padding: 30px;
}

.bg-1 { 
    margin-top: -20px;
    background-color: #1abc9c;
    color: #ffffff;
    height: 1000px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-1 h1 {
    font-size: 50px;
    padding-top: 100px;
}

.bg-1 .header-img {
    border-radius: 50%;
    display:inline;
    width: 500px;
    height: 500px;
}