{%extends 'Common/base.html' %}
{% block content %}

<!--Add basket containe to header-->

<div id="message">  
        <div class="container">
                {% for key, value in products.items %}
                <div class="row">
                    {% for i in value%}
                        <div class="col-xs-4">{{i.component}}</div>
                        <div class="col-xs-4">{{i.count}}</div>
                        <div class="col-xs-4">{{i.component}}</div>

                    {% endfor %}
                </div>
                {% endfor %}
        </div>
</div>

    <h1>Your sprint is started</h1>
    <div class = "text-center">
        <h3>Lista zakupow na sprint</h3>
            {%for key, value in components.iteritems%}
                        <p>{{key}} =  {{value}}</p>
            {%endfor%}
        <hr>

    </div>
{% endblock %}