{% extends 'Common/base.html' %}

{% block "title"%}<title>New component</title>{% endblock %}

{% block content %}

{% comment %} Should be removed after add ccs {% endcomment %}
<br>

  <div class="container">

    <div class="row jumbotron">
            <h1>Nowy produkt</h1>
            <p>Dodaj produkt do bazy</p>
    </div>

    <div class="row panel panel-success">

        <div class="panel-heading"></div>

        <div class="panel-body">

            <form method="POST" class="meal-form">{% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Product name</label>
                    {{ form.name }}
                </div>
    
                <div class="form-group">
                    <label for="{{ form.waste.id_for_label }}">Product waste</label>
                    {{ form.waste }}
                </div>
    
                <div class="form-group">
                    <label for="{{ form.units.id_for_label }}">Product units</label>
                    {{ form.units }}
                </div>

                <div class="form-group">
                    <label for="{{ form.calories.id_for_label }}">Product calories</label>
                    {{ form.calories }}
                </div>

                <input type="submit" value="Save" class="btn btn-primary submit-btn"/>

            </form>

        </div>

    </div>

</div>

{% endblock%}