{% extends 'Common/base.html' %}
{% block content %}


        {% if state == True%}
            <h1>Posilek zostal dodany</h1>

        {% else %}

            <h1 class="header">Create or update new product</h1>

            <form method="POST" class="meal-form">{% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Product name</label>
                    {{ form.name }}
                </div>
    
                <div class="form-group">
                    <label for="{{ form.waste.id_for_label }}">Product waste</label>
                    {{ form.waste }}
                </div>
    
                <div class="form-group">
                    <label for="{{ form.units.id_for_label }}">Product units</label>
                    {{ form.units }}
                </div>

                <input type="submit" value="Save" class="btn btn-primary submit-btn"/>

            </form>

        {% endif %}

{% endblock%}