{%extends 'MyPlan/nav_bar.html' %}
{% block content %}

<!--Add basket containe to header-->

<div id="message">  
        <div class="container">
                {% for key, value in products.items %}
                <div class="row">
                    <div class="col-xs-4">{{key}}</div>
                    {% for i in value%}
                        <div class="col-xs-4">{{i}}</div>
                    {% endfor %}
                </div>
                {% endfor %}
        </div>
</div>

    <h1>Moje plany zywieniowe</h1>
    <hr>
    {% for i in my_plans %}
        <h3> {{ i.sprint_name }}</h3>

        {% for single_plan in i.sprint_parameters.all %}
            <h5>{{single_plan.plan_date}}</h5>
            <ul>
            {% for meals in single_plan.meals.all %}
                <li style="margin-left:4em">{{ meals.name }}  {{ meals.state }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
        <hr>

    {% endfor %}
{% endblock %}
