{%extends 'MyPlan/nav_bar.html' %}
{% block content %}
    <div id="message">  
        <div class="container">
                {% for key, value in products.items %}
                <div class="row">
                    <div class="col-xs-4">{{key}}</div>
                    {% for i in value%}
                        <div class="col-xs-4">{{i}}</div>
                    {% endfor %}
                </div>
                {% endfor %}
        </div>
    </div>

    <p>Aktualny sprint</p>

        {%for name, state in meals.iteritems%}
            <p>{{name}}
                <input type="checkbox" value="{{state}}">
            </p>
        {% endfor %}
        <input type="button" value="Aktualizuj">
{% endblock %}