{%extends 'MyPlan/nav_bar.html' %}
{% block content %}


    <div class="text-center">
        <h1><a href="/my_plans/all/">Moje plany treningowe</a></h1>
        <a href="start-sprint" class="btn btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
            Stwórz nowy sprint
        </a>
        <br>
        <a href="start-sprint" class="btn btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
            Start nowego sprintu
        </a>
    </div>

{% endblock %}