<nav class="navbar navbar-inverse  navbar-fixed-top">

        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href = "/">PersonalHealthOrganizer</a>
            </div>

            <ul class="nav navbar-nav">

               {% if user.is_authenticated %}

                <li class="drop-down">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/meals/">
                        Posiłki
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/meal/all/">Wszystkie posiłki</a></li>
                        <li><a href="/meal/new_meal/">Dodan posiłek</a></li>
                        <li><a href="/meal/new_component/">Dodaj składnik</a></li>
                    </ul>
                </li>

                <li class="drop-down">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="exercises/">
                        Ćwiczenia
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/exercises/all/">Wszystkie ćwiczenia</a></li>
                        <li><a href="/exercises/my_plans">Dodan ćwiczenie</a></li>
                    </ul>
                 </li>

                <li class="drop-down">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/my_plans/">
                        Moje plany
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/plan/new_plan">Tworzenie planu</a></li>
                        <li><a href="/plan/new_plan_day">Tworzenie jednodniowego planu</a></li>
                        <li><a href="/plan/all">Istniejące plany</a></li>
                    </ul>
                 </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/meals/all">Posiłki</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/exercises/all">Ćwiczenia</a>
                </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}

                <li class="nav-item">
                        <a href="#" id="cart">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">

                            </span>&nbsp;Koszyk <span class="badge">3</span></a>
                </li>

                <li class="nav-item">
                        <a href="/user/logout/">
                             <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Wyloguj się</a>
                </li>

                <li class="nav-item">
                        <a href="/admin/">
                             <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Tablica</a>
                </li>

                {% else %}
                    <li class="nav-item">
                       <form class="form-inline" action="/user/login/">
                            <button class="btn btn-success" type="submit">Zaloguj</button>
                       </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>